astropy==5.2.2
contourpy==1.1.1
cycler==0.12.0
fonttools==4.43.0
healpy==1.16.5
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.7.3
numpy==1.24.4
packaging==23.1
pandas==2.0.3
Pillow==10.0.1
pyerfa==2.0.0.3
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
scipy==1.10.1
six==1.16.0
tzdata==2023.3
zipp==3.17.0
